<div class="col-lg w3-animate-right">
  <form class="card">
    <div class="card-body">
      <h3 class="card-title">   <i class="fe fe-edit"></i> แก้ไขข้อมูลรถ</h3>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="form-label">ทะเบียนรถ
                <span class="form-required">*</span>
            </label>
            <input type="text" class="form-control"  placeholder="กรอกเลขทะเบียนรถ" [(ngModel)]="carpool_id" name="carpool_id" disabled> 
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label class="form-label">ยี่ห้อ
                <span class="form-required">*</span>
            </label>
            <select class="form-control custom-select" [(ngModel)]="this.car[0].carpool_brand" name="carpool_brand">
                <option value="">เลือกยี่ห้อรถ</option>
                <option *ngFor="let x of car_brand" value="{{x.brand}}">{{x.brand}}</option>
              </select>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label class="form-label">รุ่น
                <span class="form-required">*</span>
            </label>
            <input type="email" class="form-control" placeholder="กรอกรุ่นรถ" [(ngModel)]="this.car[0].carpool_model" name="carpool_model">
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="form-group">
            <label class="form-label">ประเภทรถ
                <span class="form-required">*</span>
            </label>
            <input type="text" class="form-control" placeholder="กรอกประเภทรถ" [(ngModel)]="this.car[0].carpool_type" name="carpool_type">
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="form-group">
            <label class="form-label">
            ไมล์รถ
              <span class="form-required">*</span>
            </label>
            <input type="text" class="form-control" placeholder="" [(ngModel)]="this.car[0].carpool_mile" name="carpool_mile" maxlength="6">
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="form-group">
            <label class="form-label">จำนวนที่นั่งสูงสุด
                <span class="form-required">*</span>
            </label>
            <input type="number" class="form-control" [(ngModel)]="this.car[0].carpool_sit2" name="carpool_sit2" >
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
              <label class="form-label">สถานที่ที่จอดรถ
                <span class="form-required">*</span>
              </label>
              <ng-select [items]="park" bindLabel="carpool_park" bindValue="carpool_park" [(ngModel)]="this.car[0].carpool_park" name="carpool_park"
                placeholder="กรอกสถานที่จอดรถ">
              </ng-select>
            </div>
          </div>

  
      </div>
    </div>
    <div class="card-footer text-right">
      <button type="submit" class="btn btn-primary" (click)="edit()">แก้ไขข้อมูลรถ</button>
    </div>
  </form>
 
</div>